*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:none;
    list-style-type: none;
    overflow-y: hidden;
}

body{
    position:relative;
    display: flex;
    font-family: 'VT323', monospace;
    letter-spacing: 0.1rem;
    color:white;
    height: 100%;
}

button{
    font-family: 'Open Sans', sans-serif;
}

input{
    color:black;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1.5rem;
}

.usernameTaken{
    color: #ff2d50;
    font-size: 1.5rem;
}

li{
    color: greenyellow
}

.joinChatModal{
    height:100vh;
    width:100%;
    background-color:black;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:3;
}

.join.ui{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    border: 2px solid greenyellow;
    border-radius: 2rem; 
}

.joinChatModal h2{
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0 0 1rem 0;
}
.joinChatModal input{
    font-size: 2rem;
    text-align: center;
    border:none;
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
}

.joinChatModal p {
    font-size: 1.9rem;
}

.joinChatModal select {
    font-size: 1.5rem;
    text-align: center;
    border:none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    margin: 0.6rem 0 1.5rem 0;
    font-family: 'VT323', monospace;
    letter-spacing: 0.1rem;
}

.joinChatModal button{
    font-size: 1.1rem;
    background-color: greenyellow;
    color:black;
    /* border: 2px solid green; */
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem 1.8rem;
    margin: 1rem 0;
    cursor: pointer;
}

.joinChatModal button:hover{
    background-color: yellow;
}

.hidden{
    display:none;
}

.importedImage{
    max-width: 5em;
    max-height: 5em;
}

.chatUI{
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.chatUI ul {
    background-color: black;
    flex: 1;
    overflow-y: auto;
    padding: 1rem 3rem;
}

.chatUI li{
    margin: 1rem 0;
    font-size: 1.5rem;
}

.someoneIsTyping {
    color: greenyellow;
    font-size: 1.5rem;
    margin: 1em;
}

.messageInput {
    display:flex;
    border: 1px solid yellowgreen
}

.messageInput input{
    font-size: 1.5rem;
    flex-grow: 1;
    background-color: black;
    color: greenyellow;
    border:none;
}

.messageInput button{
    padding: 0 2rem;
    background-color: greenyellow;
    color:black;
    font-size: 1rem;
    border: none;
}

.messageInput button:hover{
    background-color: yellow;
    cursor: pointer;
}

.roomList{
    background: rgb(51, 51, 51);
    padding: 1% 0;
    width: 20%;
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.roomList h2{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding: 1rem 1.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width:100%;
    
}

.roomList li{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.roomList li:hover{
    color:yellow;
}

#usersCurrentRoom{
    background-color: yellowgreen;
    color: black;
}

.publicRoomListContainer, .privateRoomListContainer{
    flex-grow: 1;
    height: 50%;
}

.publicRoomListContainer ul{
    height:80%;
    overflow-y: auto;
    width: 100%;
}

.privateRoomListContainer ul{
    height:80%;
    overflow-y: auto;

    width: 100%;
}

.hoverListText, .hoverListTextPrivate {
    display: none;
    background: rgb(51, 51, 51);
    color: yellowgreen;
    text-align: center;
    padding: 5px 0;
    border: 1px solid yellowgreen;
    width: 25%;
    height: 30%;
    position: absolute;
    overflow-y: hidden;
    right: 16.6%;
}

.hoverRoomName{
    border-bottom: 1px solid yellowgreen;
    color: white;
}

.hoverListText{
    top: 10%;
}

.hoverListTextPrivate {
    top: 50%;
}

.hoverList, .hoverListPrivate{
    padding: 0.25em 1em;
}

.hoverListText li, .hoverListTextPrivate li{
    padding: 0.25em;
    letter-spacing: 0.1rem;
}

.hoverListText ul, .hoverListTextPrivate ul{
    height: 100%;
}

.hoverList:hover + .hoverListText, .hoverListPrivate:hover + .hoverListTextPrivate{
    display: block;
}

.hoverListText:hover, .hoverListTextPrivate:hover{
    display: block;
}

.hoverListTextPrivate li:hover,.hoverListText li:hover{
    color: yellowgreen;
    cursor: default;
}

.newRoomHeader{
    width: 100%;
    border-top: 1px solid black;
    display:flex;
    justify-content: center;
    padding: 1rem 1.5rem;
}
h3{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;  
}

.newRoomForm{
    display:flex;
    flex-direction: column;
    border: 2px solid yellowgreen;
    border-radius: 0.2rem;
    margin: 0 10%;
}

.newRoomForm input{
    border: 1px solid yellowgreen;
}

.newRoomForm button{
    background-color: yellowgreen;
    padding: 0.8rem 0;
    border: none;
    cursor: pointer;
}

.newRoomForm button:hover{
    background-color: yellow;
}

.passwordCheckContainer{
    display:flex;
    flex-direction: column;
    border: 3px solid yellowgreen;
    border-radius: 0.2rem;
    margin: 1rem 0;
}

.passwordCheckContainer input{
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid yellowgreen;
}

.passwordCheckContainer button{
    width: 100%;
    background-color: yellowgreen;
    padding: 0.5rem 0;
    border: none;
    cursor: pointer;
}

.passwordCheckContainer button:hover{
    background-color: yellow;
}


.hiddenPasswordForm{
    display: none
}


::-webkit-scrollbar { /*Keeps the scrollbar in the todolist visable*/
    -webkit-appearance: none;
    width: 0.3rem;
}
::-webkit-scrollbar-thumb { /*Styles the todolist scrollbar*/
    border-radius: 4px;
    background-color: rgb(0,0,0);
    padding-right: 0.7rem;
}

/*COLOR STYLES FOR CHAT*/

/*Bot-exklusive text-color*/
.greenText{
    color:yellowgreen
}

/*User colors*/
.redText{
    color: #ff2d50
}
.blueText{
    color: #00a2ff
}
.pinkText{
    color: #ff62d0
}
.purpleText{
    color: #c379ff
}
.orangeText{
    color: #ffa53d
}
.yellowText{
    color: rgb(255, 255, 113)
}

@media screen and (max-width: 96.8em) {
    .roomList h2 {
        font-size: 1.1rem;
        padding: 1rem 1rem
    }

    h3{
        font-size: 1.1rem;
        padding: 1rem 1rem
    }

    .newRoomHeader{
        width: 100%;
        border-top: 1px solid black;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        height: 2rem;
    }
    .newRoomHeader h3{
        font-size: 0.8rem;
        padding: 0;
        color: white;
    }
}
